@model ProductAttributeModel

@if (Model.Id > 0)
{
    <div class="card-body">
        <p>
            @await T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.Hint")
        </p>
        @await Html.PartialAsync("Table", new DataTablesModel
        {
            Name = "productattributevalues-grid",
            UrlRead = new DataUrl("PredefinedProductAttributeValueList", "ProductAttribute", new RouteValueDictionary { [nameof(Model.PredefinedProductAttributeValueSearchModel.ProductAttributeId)] = Model.PredefinedProductAttributeValueSearchModel.ProductAttributeId }),
            UrlDelete = new DataUrl("PredefinedProductAttributeValueDelete", "ProductAttribute", null),
            Length = Model.PredefinedProductAttributeValueSearchModel.PageSize,
            LengthMenu = Model.PredefinedProductAttributeValueSearchModel.AvailablePageSizes,
            ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(nameof(PredefinedProductAttributeValueModel.Name))
                {
                    Title = (await T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.Fields.Name")).Value,
                    Width = "200"
                },
                new ColumnProperty(nameof(PredefinedProductAttributeValueModel.PriceAdjustmentStr))
                {
                    Title = (await T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.Fields.PriceAdjustment")).Value,
                    Width = "150"
                },
                new ColumnProperty(nameof(PredefinedProductAttributeValueModel.WeightAdjustmentStr))
                {
                    Title = (await T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.Fields.WeightAdjustment")).Value,
                    Width = "150"
                },
                new ColumnProperty(nameof(PredefinedProductAttributeValueModel.IsPreSelected))
                {
                    Title = (await T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.Fields.IsPreSelected")).Value,
                    Width = "100",
                    ClassName = NopColumnClassDefaults.CenterAll,
                    Render = new RenderBoolean()
                },
                new ColumnProperty(nameof(PredefinedProductAttributeValueModel.DisplayOrder))
                {
                    Title = (await T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.Fields.DisplayOrder")).Value,
                    Width = "100",
                    ClassName = NopColumnClassDefaults.CenterAll
                },
                new ColumnProperty(nameof(PredefinedProductAttributeValueModel.Id))
                {
                    Title = (await T("Admin.Common.Edit")).Value,
                    Width = "100",
                    ClassName =  NopColumnClassDefaults.Button,
                    Render = new RenderCustom("renderColumnEdit")
                },
                new ColumnProperty(nameof(PredefinedProductAttributeValueModel.Id))
                {
                    Title = (await T("Admin.Common.Delete")).Value,
                    Width = "100",
                    Render = new RenderButtonRemove((await T("Admin.Common.Delete")).Value),
                    ClassName =  NopColumnClassDefaults.Button
                }
            }
        })
    
        <script>
            function renderColumnEdit(data, type, row, meta) {
                return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/ProductAttribute/PredefinedProductAttributeValueEditPopup/")' + data + '?btnId=btnRefresh&formId=productattribute-form\', 800, 750, true); return false;\" class="btn btn-default"><i class="fas fa-pencil-alt"></i>@await T("Admin.Common.Edit")</button>';
            }
        </script>
    </div>
    <div class="card-footer">
        <button type="submit" id="btnAddNewValue" onclick="javascript:OpenWindow('@(Url.Action("PredefinedProductAttributeValueCreatePopup", "ProductAttribute", new { productAttributeId = Model.Id, btnId = "btnRefresh", formId = "productattribute-form" }))', 800, 550, true); return false;" class="btn btn-primary">
            @await T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.AddNew")
        </button>
        <button type="submit" id="btnRefresh" style="display: none"></button>
        <script>
            $(document).ready(function () {
                $('#btnRefresh').click(function () {
                    //refresh grid
                    updateTable('#productattributevalues-grid');

                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    </div>
}
else
{
    <div class="card-body">
        @await T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues.SaveBeforeEdit")
    </div>
}
