@model AddressAttributeSearchModel

<div class="card card-default">
    <div class="card-header">
        @await T("Admin.Address.AddressAttributes")
    </div>
    <div class="card-body">
        <p>
            <em>@await T("Admin.Address.AddressAttributes.Description")</em>
        </p>
        @await Html.PartialAsync("Table", new DataTablesModel
        {
            Name = "addressattributes-grid",
            UrlRead = new DataUrl("List", "AddressAttribute", null),
            Length = Model.PageSize,
            LengthMenu = Model.AvailablePageSizes,
            ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(nameof(AddressAttributeModel.Name))
                {
                    Title = (await T("Admin.Address.AddressAttributes.Fields.Name")).Value,
                    Width = "300"
                },
                new ColumnProperty(nameof(AddressAttributeModel.AttributeControlTypeName))
                {
                    Title = (await T("Admin.Address.AddressAttributes.Fields.AttributeControlType")).Value,
                    Width = "200"
                },
                new ColumnProperty(nameof(AddressAttributeModel.IsRequired))
                {
                    Title = (await T("Admin.Address.AddressAttributes.Fields.IsRequired")).Value,
                    Width = "100",
                    ClassName = NopColumnClassDefaults.CenterAll,
                    Render = new RenderBoolean()
                },
                new ColumnProperty(nameof(AddressAttributeModel.DisplayOrder))
                {
                    Title = (await T("Admin.Address.AddressAttributes.Fields.DisplayOrder")).Value,
                    Width = "100",
                    ClassName =  NopColumnClassDefaults.CenterAll
                },
                new ColumnProperty(nameof(AddressAttributeValueModel.Id))
                {
                    Title = (await T("Admin.Common.Edit")).Value,
                    Width = "80",
                    Render = new RenderButtonEdit(new DataUrl("~/Admin/AddressAttribute/Edit/"))
                }
            }
        })
    </div>
    <div class="card-footer">
        <a asp-action="Create" asp-controller="AddressAttribute" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @await T("Admin.Common.AddNew")
        </a>
    </div>
</div>