@model AddressAttributeValueModel
@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = (await T("Admin.Address.AddressAttributes.Values.EditValueDetails")).Value;
}
<form asp-controller="AddressAttribute" asp-action="ValueEditPopup"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @await T("Admin.Address.AddressAttributes.Values.EditValueDetails")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @await T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.AddressAttributeValueDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateValue", Model)
</form>