@model CustomerReportsSearchModel

@{
    //page title
    ViewBag.PageTitle = (await T("Admin.Reports.Customers.RegisteredCustomers")).Value;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Registered customers");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @await T("Admin.Reports.Customers.RegisteredCustomers")
    </h1>
</div>
<section class="content">
    <div class="container-fluid">    
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <nop-doc-reference asp-string-resource="@await T("Admin.Documentation.Reference.Reports", Docs.Reports + Utm.OnAdmin)" />

                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "registered-customers-grid",
                            UrlRead = new DataUrl("ReportRegisteredCustomersList", "Report", null),
                            Length = Model.RegisteredCustomers.PageSize,
                            LengthMenu = Model.RegisteredCustomers.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(RegisteredCustomersReportModel.Period))
                                {
                                    Title = (await T("Admin.Reports.Customers.RegisteredCustomers.Fields.Period")).Value
                                },
                                new ColumnProperty(nameof(RegisteredCustomersReportModel.Customers))
                                {
                                    Title = (await T("Admin.Reports.Customers.RegisteredCustomers.Fields.Customers")).Value,
                                    Width = "150"
                                }
                            }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>