@model PopularProductTagsModel

@using Nop.Core.Domain.Catalog

@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts((await T("PageTitle.AllProductTags")).Value);
    //page class
    NopHtml.AppendPageCssClassParts("html-product-tags-all-page");
}
<div class="page product-tags-all-page">
    <div class="page-title">
        <h1>@await T("Products.Tags.All")</h1>
    </div>
    <div class="page-body">
        @if (Model.Tags.Count > 0)
        {
            <ul class="product-tags-list">
                @foreach (var item in Model.Tags)
                {
                    <li>
                        <a href="@(Url.RouteUrl<ProductTag>(new { SeName = item.SeName }))" class="producttag" style="font-size:@(Model.GetFontSize(item))%;">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
