@model CustomerModel

<div class="card-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "activitylog-grid",
        UrlRead = new DataUrl("ListActivityLog", "Customer", new RouteValueDictionary { [nameof(Model.CustomerActivityLogSearchModel.CustomerId)] = Model.CustomerActivityLogSearchModel.CustomerId }),
        Length = Model.CustomerActivityLogSearchModel.PageSize,
        LengthMenu = Model.CustomerActivityLogSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(CustomerActivityLogModel.ActivityLogTypeName))
            {
                Title = (await T("Admin.Customers.Customers.ActivityLog.ActivityLogType")).Value,
                Width = "300"
            },
            new ColumnProperty(nameof(CustomerActivityLogModel.IpAddress))
            {
                Title = (await T("Admin.Customers.Customers.ActivityLog.IpAddress")).Value,
                Width = "100"
            },
            new ColumnProperty(nameof(CustomerActivityLogModel.Comment))
            {
                Title = (await T("Admin.Customers.Customers.ActivityLog.Comment")).Value
            },
            new ColumnProperty(nameof(CustomerActivityLogModel.CreatedOn))
            {
                Title = (await T("Admin.Customers.Customers.ActivityLog.CreatedOn")).Value,
                Width = "200",
                Render = new RenderDate()
            }
        }
    })   
</div>
