@model GiftCardModel

@{
    //page title
    ViewBag.PageTitle = (await T("Admin.GiftCards.AddNew")).Value;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Gift cards");
}

<form asp-controller="GiftCard" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @await T("Admin.GiftCards.AddNew") 
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@await T("Admin.GiftCards.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @await T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @await T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.GiftCardDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>