@model GdprSettingsModel

<div class="card-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "consent-grid",
        UrlRead = new DataUrl("GdprConsentList", "Setting", null),
        Length = Model.GdprConsentSearchModel.PageSize,
        LengthMenu = Model.GdprConsentSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(GdprConsentModel.Message))
            {
                Title = (await T("Admin.Configuration.Settings.Gdpr.Consent.Message")).Value
            },
            new ColumnProperty(nameof(GdprConsentModel.IsRequired))
            {
                Title = (await T("Admin.Configuration.Settings.Gdpr.Consent.IsRequired")).Value,
                ClassName =  NopColumnClassDefaults.CenterAll,
                Render = new RenderBoolean()
            },
            new ColumnProperty(nameof(GdprConsentModel.DisplayDuringRegistration))
            {
                Title = (await T("Admin.Configuration.Settings.Gdpr.Consent.DisplayDuringRegistration")).Value,
                ClassName =  NopColumnClassDefaults.CenterAll,
                Render = new RenderBoolean()
            },
            new ColumnProperty(nameof(GdprConsentModel.DisplayOnCustomerInfoPage))
            {
                Title = (await T("Admin.Configuration.Settings.Gdpr.Consent.DisplayOnCustomerInfoPage")).Value,
                ClassName =  NopColumnClassDefaults.CenterAll,
                Render = new RenderBoolean()
            },
            new ColumnProperty(nameof(GdprConsentModel.DisplayOrder))
            {
                Title = (await T("Admin.Configuration.Settings.Gdpr.Consent.DisplayOrder")).Value,
                ClassName = NopColumnClassDefaults.CenterAll
            },
            new ColumnProperty(nameof(GdprConsentModel.Id))
            {
                Title = (await T("Admin.Common.Edit")).Value,
                Width = "100",
                ClassName =  NopColumnClassDefaults.Button,
                Render = new RenderButtonEdit(new DataUrl("~/Admin/Setting/EditGdprConsent/"))
            }
        }
    })
</div>
<div class="card-footer">
    <button type="submit" id="btnAddNewConsent" name="btnAddNewConsent" onclick="javascript:setLocation('@(Url.Action("CreateGdprConsent", "Setting"))'); return false;" class="btn btn-primary">
        @await T("Admin.Configuration.Settings.Gdpr.Consent.AddNew")
    </button>
</div>