@model ProductReviewModel

@{
    //page title
    ViewBag.PageTitle = (await T("Admin.Catalog.ProductReviews.EditProductReviewDetails")).Value;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Product reviews");
}

<form asp-controller="ProductReview" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @await T("Admin.Catalog.ProductReviews.EditProductReviewDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@await T("Admin.Catalog.ProductReviews.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @await T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @await T("Admin.Common.SaveContinue")
            </button>
            @if (!Model.IsLoggedInAsVendor)
            {
                //this button is not visible to vendors
                <span id="productreview-delete" class="btn bg-red">
                    <i class="far fa-trash-alt"></i>
                    @await T("Admin.Common.Delete")
                </span>
            }
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ProductReviewDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
@if (!Model.IsLoggedInAsVendor)
{
    //this button is not visible to vendors
    <nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="productreview-delete" />
}
