@model CustomerAttributeSearchModel

<div class="card card-default">
    <div class="card-header">
        @await T("Admin.Customers.CustomerAttributes")
    </div>
    <div class="card-body">
        <p>
            <em>@await T("Admin.Customers.CustomerAttributes.Description")</em>
        </p>
        @await Html.PartialAsync("Table", new DataTablesModel
        {
            Name = "customerattributes-grid",
            UrlRead = new DataUrl("List", "CustomerAttribute", null),
            Length = Model.PageSize,
            LengthMenu = Model.AvailablePageSizes,
            ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(nameof(CustomerAttributeModel.Name))
                {
                    Title = (await T("Admin.Customers.CustomerAttributes.Fields.Name")).Value,
                    Width = "300"
                },
                new ColumnProperty(nameof(CustomerAttributeModel.AttributeControlTypeName))
                {
                    Title = (await T("Admin.Customers.CustomerAttributes.Fields.AttributeControlType")).Value,
                    Width = "200"
                },
                new ColumnProperty(nameof(CustomerAttributeModel.IsRequired))
                {
                    Title = (await T("Admin.Customers.CustomerAttributes.Fields.IsRequired")).Value,
                    Width = "200",
                    ClassName =  NopColumnClassDefaults.CenterAll,
                    Render = new RenderBoolean()
                },
                new ColumnProperty(nameof(CustomerAttributeModel.DisplayOrder))
                {
                    Title = (await T("Admin.Customers.CustomerAttributes.Fields.DisplayOrder")).Value,
                    Width = "100",
                    ClassName =  NopColumnClassDefaults.CenterAll
                },
                new ColumnProperty(nameof(CustomerAttributeModel.Id))
                {
                    Title = (await T("Admin.Common.Edit")).Value,
                    Width = "100",
                    ClassName =  NopColumnClassDefaults.Button,
                    Render = new RenderButtonEdit(new DataUrl("~/Admin/CustomerAttribute/Edit/"))
                }
            }
        })
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="@Url.Action("Create", "CustomerAttribute")">
            <i class="fas fa-plus-square"></i>
            @await T("Admin.Common.AddNew")
        </a>
    </div>
</div>